@use '../../styles/variables' as v;

.salespersons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: v.$spacing-md;
    margin: v.$spacing-md 0;

    .salesperson {
        display: flex;
        gap: v.$spacing-md;
        align-items: center;

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            min-height: 60px;
            position: relative;
            background: v.$bg-card;
            border-radius: v.$radius-base;
            overflow: hidden;

            img, .profileWrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            img {
                width: 100%;
                color: v.$text-muted;
                background-color: v.$text-muted;
            }
            .profileWrapper {
                display: none;

                input {
                    opacity: 0;
                }
                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: v.$opacity-black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            &:hover .profileWrapper {
                display: block;
            }
            
        }

        .inputField {
            display: flex;
            flex-direction: column;
            gap: v.$spacing-sm;
            width: 100%;
        }
    }
}