// colors
$primary: #08E18A;
$bg-base: #011B36;
$bg-card: #0A2A45;
$heading: #FFFFFF;
$text-base: #E8F5F0;
$text-muted: #B0B0B0;
$text-alter: #000A14;
$error: #A93226;
$opacity-black: rgba(0, 0, 0, 0.5);
$opacity-white: rgba(255, 255, 255, 0.5);

// spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// shadow
$shadow: 0px 0px 8px 0px $opacity-white;

// border radius
$radius-base: 8px;

// typography
$font-base: 'Inter', sans-serif;
$font-xs: 0.875rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xl: 2.25rem;